<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- 변수 지정 -->
    <property name="LOG_FILE" value="./logs/spring.log"/>

    <!-- Appender -->
    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Logger -->
    <logger name="org.springframework.boot.autoconfigure.logging" level="INFO"/>
    <logger name="org.springframework" level="info"/>
    <logger name="io.ahakim.crud" level="debug"/>

    <!--    <logger name="io.ahakim.crud" additivity="false">   -->
    <!--    <logger name="io.ahakim.crud.service, i.ahakim.crud.controller" additivity="true">   -->
    <!--        <level value="DEBUG"/>-->
    <!--        <appender-ref ref="fileAppender"/>       -->
    <!--    </logger>-->

    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="fileAppender"/>
    </root>
</configuration>
