<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/default}">

<script src="../../../static/js/post.js"></script>
<th:block layout:fragment="style">
    <link rel="stylesheet" th:href="@{/libs/toastui-editor/css/toastui-editor.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/post.css}"/>
</th:block>

<th:block layout:fragment="content">
    <div class="content">
        <div class="sec_post">
            <form id="addForm" name="postForm" method="post" action="add.html" th:action th:object="${post}"
                  th:onsubmit="|postActions.savePost(event)|">
                <!-- post-head -->
                <div class="post-head">
                    <div class="ui grid equal width">
                        <div class="five wide column">
                            <label for="writer" class="blind">작성자</label>
                            <span class="ui input fluid item">
                                <input type="text" id="writer" th:field="*{writer}" placeholder="작성자" maxlength="20"/>
                            </span>
                        </div>
                        <div class="eleven wide column">
                            <label for="title" class="blind">제목</label>
                            <span class="ui input fluid item">
                                <input type="text" id="title" th:field="*{title}" placeholder="제목을 입력해 주세요."
                                       maxlength="100"/>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- post-body -->
                <div class="post-body">
                    <input type="hidden" th:field="*{content}" required/>
                    <div id="editor"></div>
                </div>
                <!-- post-foot -->
                <div class="post-foot">
                    <div class="buttons">
                        <div class="left">
                            <button type="button" class="ui button large" th:onclick="|postActions.getList()|">취소
                            </button>
                        </div>
                        <div class="right">
                            <button type="submit" class="ui primary button large"
                                    th:onclick="|postActions.savePost(event)|">
                                저장
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/libs/toastui-editor/js/toastui-editor-all.min.js}"></script>
    <script th:src="@{/js/post.js}"></script>
</th:block>
</html>
