<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/default}">

<th:block layout:fragment="style">
    <link rel="stylesheet" th:href="@{/libs/toastui-editor/css/toastui-editor.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/post.css}"/>
</th:block>

<th:block layout:fragment="content">
    <div class="content">
        <h2 th:text="#{page.posts}"></h2>

        <div class="sec_post">
            <!-- post-body -->
            <div class="post-body">
                <table class="ui center aligned celled unstackable table">
                    <thead>
                    <tr>
                        <th th:text="#{label.post.id}" class="t_id" scope="col">번호</th>
                        <th th:text="#{label.post.title}" class="t_title" scope="col">제목</th>
                        <th th:text="#{label.post.writer}" class="t_writer" scope="col">작성자</th>
                        <th th:text="#{label.post.createdAt}" class="t_date" scope="col">날짜</th>
                        <th th:text="#{label.post.views}" class="t_views" scope="col">조회</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="post : ${posts}">
                        <td class="t_id" th:text="${post.id}">1</td>
                        <td class="t_title">
                            <a th:href="@{/posts/{id}(id=${post.id})}" th:styleappend="${post.level > 0} ? 'padding-left:'+${post.getLevel*10}+'px'">
                                <i class="ico reply" th:if="${post.level > 0}"></i>
                                <th:block th:text="${post.title} "></th:block>
                            </a>
                        </td>
                        <td class="t_writer" th:text="${post.writer}">작성자</td>
                        <td class="t_date" th:text="${post.createdAt}">2022-01-01</td>
                        <td class="t_views" th:text="${post.views}">0</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- post-foot -->
            <div class="post-foot">
                <div class="buttons">
                    <div class="right">
                        <button type="button" class="ui primary button large" th:text="#{button.add}" th:onclick="|postFormAction.addForm()|">글쓰기</button>
                    </div>
                </div>
            </div>
            <!-- pagination -->
            <form th:action th:object="${pageMaker}">
                <input type="hidden" th:field="*{criteria.page}"/>
                <input type="hidden" th:field="*{criteria.getSize}"/>
                <nav class="page-nav" aria-label="Page navigation" role="navigation">
                    <div class="ui pagination menu">
                        <th:block th:if="${pageMaker.prev}">
                            <a class="item" th:href="@{/posts(page=1)}">
                                <i class="icon angle double left"></i>
                                <span class="blind">처음</span>
                            </a>
                            <a class="item" th:href="@{/posts(page=*{rangeStart}-1)}">
                                <i class="angle left icon"></i>
                                <span class="blind">이전</span>
                            </a>
                        </th:block>
                        <!-- Number -->
                        <th:block th:each="pageNo : *{#numbers.sequence(rangeStart, rangeEnd)}">
                            <a class="item" th:th:classappend="${pageNo == pageMaker.criteria.page ? 'active':''}" th:href="@{/posts(page=${pageNo})}" th:text="${pageNo}"></a>
                        </th:block>
                        <!-- Next, Last -->
                        <th:block th:if="${pageMaker.next}">
                            <a class="item" th:href="@{/posts(page=*{rangeEnd}+1)}">
                                <i class="angle right icon"></i>
                                <span class="blind">다음</span>
                            </a>
                            <a class="item" th:href="@{/posts(page=*{totalPage})}">
                                <i class="angle double right icon"></i>
                                <span class="blind">마지막</span>
                            </a>
                        </th:block>
                    </div>
                </nav>
            </form>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/libs/toastui-editor/js/toastui-editor-all.min.js}"></script>
    <script th:src="@{/js/post.js}"></script>
    <script th:inline="javascript">
        const redirectMessage = [[${msg}]];
        if (redirectMessage) {
            alert(redirectMessage);
        }
    </script>
</th:block>
</html>
