<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/default}">

<th:block layout:fragment="content">
    <div class="content">
        <h2>Server Error</h2>
        <ul>
            <li>오류 정보</li>
            <li>
                <ul>
                    <li th:text="|timestamp: ${timestamp}|"></li>
                    <li th:text="|path: ${path}|"></li>
                    <li th:text="|status: ${status}|"></li>
                    <li th:text="|message: ${message}|"></li>
                    <li th:text="|error: ${error}|"></li>
                    <li th:text="|exception: ${exception}|"></li>
                    <li th:text="|errors: ${errors}|"></li>
                    <li th:text="|trace: ${trace}|"></li>
                </ul>
            </li>
        </ul>
    </div>
</th:block>
</html>