/*------------------------ COMMON */
.ui.button {font-weight: normal}

.ico{display: inline-block;background-repeat: no-repeat;background-size: 100% 100%}
.ico.reply{width:8px;height:8px;background-image: url("/images/common/icon_reply.png");vertical-align: top}

/*------------------------ LAYOUT */
.content {position: relative;width: 96%; height: 100%;margin: 0 auto;}

#wrap {position: relative;min-width:600px;width: 100%;min-height: 100%;height: 100%}
#header {position: relative;width: 100%;;height: 72px;margin: 0;background: royalblue}
#container {position: relative;width: 100%;min-height: calc(100% - 120px);padding: 60px 0 80px}
#footer {position: relative;width: 100%;;height: 48px}

#header .site-name {display: inline-block;width: auto;line-height: 72px}
#header .site-name a {display: block;color: #fff;font-size: 20px}

#footer p {font-size: 12px}



